
docker_registry_url      = "https://index.docker.io/v1"
docker_registry_username = ""
docker_registry_password = ""

storage_account_access_key = ""
storage_account_name       = ""
storage_file_share_name    = ""
storage_mount_path         = ""
